<div class="container-fluid">
<div class="row">
     <div class="col-12">
    <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">All Posts</h5>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                <th>Allow Comments</th>
                                                <th>Category</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each posts}}
                                             <tr>
                                                 <td>{{this.title}}</td>
                                                 <td>{{this.description}}</td>
                                                 <td>{{this.status}}</td>
                                                 <td>{{this.allowComments}}</td>
                                                <td>{{this.category.name}}</td>
                                                 <td>
                                                     <a href="/admin/post/edit/{{this._id}}"
                                                     class="btn btn-sm btn-warning mr-2">Edit</a>
                                                     <form action="/admin/post/delete/{{this._id}}?newMethod=DELETE" method="post">
                                                        <button class="btn btn-sm btn-danger pull-right" type="submit">Delete</button>
                                                     </form>
                                                 </td>
                                             </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        </div>
</div>
</div>